{% extends "layout.html" %}
{% block body %}
<div class="hero-split">
    <div class="hero-text">
        <h1>Welcome to CognitiveTutor(1.0.1)!</h1>
        <p>Login or register today for a daily puzzle! Each challenge ignites curiosity by allowing you to explore different subjects in a dynamic and immersive way.</p>
        <a href="{{ url_for('login') }}" class="button">Login</a>
        <a href="{{ url_for('register') }}" class="button">Register</a>
    </div>
    <div class="hero-image">
        <img src="{{ url_for('static', filename='images/image.png') }}" alt="Hero Image">
    </div>
</div>
{% endblock %}